<section class="home-container">
<div class="login-section">
<div class="signup">
<a href="/"><i class="bi bi-arrow-left big-arrow"></i></a>
<h2>REGISTER</h2>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "loginform"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.text_field :name, placeholder: "Full name", id: 'Name' %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", id: 'Email' %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password. Minimum of 6 characters', id: 'Password' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", id: 'confirm_password' %>
  </div>

  <div class="actions">
    <%= f.submit "Next", class: 'login-button'  %>
  </div>
<% end %>

</div>
<section>
