<section class="home-container">
<div class="login-section">
<div class="login-navar">
<a href="/"><i class="bi bi-arrow-left big-arrow"></i></a>
<h2 class="login-title">LOGIN</h2>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "loginform"}) do |f| %>
 <div class="actions">
    <%= f.submit "Log in", class: 'login-button' %>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", id: 'user_email' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", id: 'user_password' %>
  </div>

<% end %>
<div class="forgotpassword">
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
</div>
</div>
<section>