 <section class="home-container">

   <div class="navbaer-section">
  <nav class="expenditure-navbar">
  <a href="/categories"><i class="bi bi-arrow-left big-arrow"></i></a>
  <h1 class="page-title">Expenditures</h1>
  <% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, class: 'signout', 'data-turbo-method': :delete %>
<% end %>
  </nav>
  <div class="text-name">
  <h3><%= @expenditures.name %></h3>
</div>
</div>
<div class="page-section">
<ul class = "expenditures" id="expenditures">
<% sum = 0 %>
  <% @expenditures.expenditures.each do |expenditure| %>
  <li class="expenditure">
     <p class="expenditure-name">
    <%= expenditure.name %>
  </p>

  <p class = 'expenditure-amount'>
    $<%= expenditure.amount %>
  </p>

    <% sum += expenditure.amount %>
    <div>
  <% end %>
  <h1 class="category-sum">$<%= sum %></h1> 
  </div>
</li>
</ul>
</div>
<div class="new-categoryisection">
<%= link_to "New Transaction", new_category_expenditure_path, class: 'new-category-button'  %>
</div>
</section>